.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.img{
  width: 25vw;
  margin-top:50px ;
}

.title{
  color: #fff;
  margin: 20px;
}

.btns{
  display: flex;
  gap: 10px;
}

.btn-category{
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #25a4ee;
  cursor: pointer;
}

.btn-frase{
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #25a4ee;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
  width: 100%;
}

.frase-content{
  background-color: #fff;
  color: rgb(160, 104, 0);
  font-weight: 600;
}